:root{
  --clr-gray-1: hsl(210, 22%, 49%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-grey-1: #918E9B;

  --clr-green-3: #004d00;
  --clr-green-7: #cce6cc;
  
  --clr-green-10: #e6f2e6;
  --clr-green-11: #fafdfa;

  --clr-gold: #c59d5f;
  --clr-light-gold: #ffca7a;

  --clr-red-1: #F55A5A;

  --arrow-btn-clr: #E5E7EB;
  --hover-clr: hsl(211, 39%, 23%);

  --icon-blue: #0a66c2;
  --icon-grey1: #646170;
  --icon-grey-2: #a6a3b0;
  --icon-red-1: #F55A5A;
  --icon-red-2: #DA2D7A;


  --transition: all 0.3s linear;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Exo',-apple-system, sans-serif;

  background-color: var(--clr-green-11);
}
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.App{
  display: flex;
  flex-direction: column;
}
.App.show{
  overflow: hidden;
  height: 100vh;
}
h3{
  font-size: 2rem;
}

.header-container{
  background-image: url('./images/banner1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 550px;
  z-index: 0;
}
.header-container > h3{
  text-align: center;
  max-width: 1250px;
  margin: 120px auto;
  text-transform: uppercase;
  font-weight: 600;
}
.header{
  padding: 2rem 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-links{
  display: none;
}
.intro-section-container{
  position: relative;
}
.intro-side-img{
  display: none;
  position: absolute;
  opacity: 0.64;
  height: 800px;
  top: 200px;
}
.intro-section{
  width: 85vw;
  max-width: 1550px;
  margin: 5rem auto 5rem;
  position: relative;
}
.intro-section > h4{
  font-weight: 300;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  padding: 6rem 4rem;
  text-align: center;
}
.intro-img{
  display: none;
  border: 0.1rem solid black;
}
.main{
  margin-bottom: 9rem;
}
.main > h3{
  max-width: 70vw;
  margin: 0 auto;
  font-weight: 300;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.featured-box-background{
  background-image: url(./images/bck-img-1.png);
  background-attachment: fixed;
}
.featured-box{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 3rem;
  margin-bottom: 4rem;
  max-width: 1610px;
  margin: 0 auto 4rem;
  overflow: hidden; 
  /* background-color: rgb(204, 230, 204,0.7); */
  background-color: rgb(255, 202, 122,0.7);
}
.featured-card:hover{
  scale: 1.02;
}
.featured-icon{
  position: absolute;
  left: -10%;
  color: var(--clr-grey-1);
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  display: none;
}
.featured-card > img{
  width: 50%;
  flex-shrink: 0;
  margin-right: 1rem;
}
.featured-card > a{
  margin-right: 1rem;
  width: 50%;
  flex-shrink: 0;
}
.featured-card > a > img{
  width: 100%;
}
.left{
  align-self: flex-end;
}
.right{
  align-self: flex-start;
}
.featured-card{
  max-width: 450px;
  height: 250px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--clr-grey-10);
  border: 0.15rem solid var(--clr-gold);
}
.featured-info > h2{
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--clr-gold);
}
.featured-info > p{
  font-size: 0.4rem;
}
.right.hidden{
  transform: translateX(50%);
  opacity: 0;
}
.left.hidden{
  transform: translateX(-50%);
  opacity: 0;
}
.hidden{
  filter: blur(5px);
  transition: all 1s;
}
.left.visible, .right.visible{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.search-box{
  display: flex;
  width: 70vw;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  border-radius: 0.6rem;
  border: solid 0.1rem var(--clr-grey-9);
  background-color: white;
}
.search-box:hover{
  border: solid 0.1rem var(--clr-grey-9);
}
.search-box > input{
  flex: 1;
  border: none;
  border-radius: 0.6rem;
  font-size: large;
  outline-width: 0;
  text-indent: 0.6rem;
  max-width: 95%;
  background-color: transparent;
}
.search-icon{
  min-width: 1.4rem;
  height: 2rem;
  color: var(--clr-grey-7);
  margin-left: 0.4rem;
}

.recipes{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  grid-template-columns: 1fr;
}
.recipe-container{
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  
  height: 27rem;
  width: 15rem;

  display: flex;
  flex-direction: column;
  background-color: var(--clr-grey-10);
  transition: all 0.3s linear;
}
.recipe-container:hover{
  scale: 1.05;
}

.recipe-img{
  object-fit: cover;
  height: 11rem;
  width: 100%;
  display: block;
  border: 0.25rem solid var(--clr-green-7);
  border-radius: 0.3rem;
}
.recipe-container > h3{
  flex: 1;

  font-size:1.2rem;

  width: 80%;
  margin: 0 auto;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipe-btns{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

.recipe-ingredient-btn, .recipe-instruction-btn{
  height: 2rem;
  width: 80%;
  border-radius: 0.4rem;
  border: solid 0.1rem var(--clr-grey-9);
  border: solid 0.1rem black;
  font-size: 1rem;
  cursor: pointer;
}

.recipe-ingredient-btn:hover{
  background-color: var(--clr-grey-9);
}

.recipe-instruction-btn{
  color: white;
  background-color: black;
}
.recipe-instruction-btn:hover{
  background-color: hsl(210, 22%, 49%);
}

.placeholder-img{
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.reviews-container{
  margin: 5rem 0;
  height: 500px;
  background-image: url(./images/banner2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.reviews{
  position: relative;
  max-width: 670px;
  margin: 125px auto;
  padding: 0 2rem;
}
.review-cards{
  display: flex;
  width: 80vw;

  position: relative;
  margin: 0 auto;
  max-width: 550px;
  overflow: hidden;

  height: 280px;
}

.review-card{
  height: 280px;
  width: 100%;
  background-color: var(--clr-grey-10);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--clr-gold);

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s linear;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review-card.prevReview{
  transform: translateX(-100%);
}
.review-card.activeReview{
  opacity: 1;
  transform: translateX(0);
}
.review-card.nextReview{
  transform: translateX(100%);
}

.review-top{
  display: flex;
  gap: 0.6rem;
  margin-bottom: 0.5rem;
  align-items: center;
}
.review-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.profile-pic{
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  border-radius: 50%;
  border: solid 0.1rem var(--clr-gold);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.review-profile > h5{
  margin: 0;
  text-align: center;
}

.review-title, .review-recipe-title{
  margin: 0;
}
.review-title{
  font-size: 0.9rem;
  color: var(--clr-gold);
}
.review-recipe-title{
  font-size: 0.73rem;
}
.review-desc{
  font-size: 13px;
}
.review-stars{
  font-size: 12px;
}
.prev, .next{
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  font-size: 1.9rem;
  color: var(--arrow-btn-clr);
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.prev{ left: -0.6rem; }
.next{ right: 0.2rem; }

.prev:hover, .next:hover{
  color: var(--clr-light-gold);
}

.submenu{
  position: absolute;
  top: 4rem;
  left: 50%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 3;
  padding: 1rem 0 2rem;
  text-transform: capitalize;
  transform: translateX(-50%);
  transition: var(--transition);
  display: none;
}
.submenu::before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}
.submenu.show {
  display: block;
}
.submenu h4{
  margin-top: 0;
  margin-bottom: 1.1rem;
  font-size: 1rem;
}
.submenu a, .section a{
  text-decoration: none;
  color: var(--clr-gray-1);
}
.submenu a{
  font-size: 0.9rem;
  padding: 0.8rem 3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.submenu a:hover, .section a:hover{
  background-color: var(--clr-green-7);
}
.links{
  display: flex;
  flex-direction: column;
}
.section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section a{
  border: solid 0.1px rgba(0, 0, 0, 0.1);
}
.sections h4{
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}
.item{
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.link-btn{
  font-family: 'Exo',-apple-system, sans-serif;
  text-transform: uppercase;
  font-size: 0.85rem;
  border: none;
  background-color: transparent;
  font-weight: 600;
  padding: 0 0.9rem 1rem;
  position: relative;
}
.link-arrow{
  margin-left: 0.2rem;
  position: absolute;
  z-index: -1;
  transition: var(--transition);
}
.link-arrow.rotate{
  transform: rotate(180deg);
}
.btn{
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
}
.nav-btn{
  width: 2.5rem;
  height: 2rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.7rem;
}
.nav-btn:hover{
  background-color: rgb(0, 0, 0,0.7);
}
.header-btn{
  cursor: pointer;
}
.header-btn:hover{
  color: var(--clr-green-3);
  scale: 1.1;
}

.sidebar-background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: -1;
}
.sidebar-background.show{
  visibility: visible;
  z-index: 2;
}
.sidebar{
  background-color: white;
  width: 90%;
  height: 90%;

  max-width: 700px;
  max-height: 900px;
  overflow: auto;

  border-radius: 1.2rem;
  position: relative;
  padding: 0.2rem 1rem;
  transition: var(--transition);
  transform: scale(0);
}.sidebar.show{
  transform: scale(1);
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 6px;
  font-size: 1.6rem;
  color: var(--clr-gray-1);
  border: none;
  background-color: transparent;
}
.close-btn:hover{
  color: rgb(150, 21, 21);
  cursor: pointer;
}
.section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sections{
  text-transform: capitalize;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
}
thead {
  background-color:  rgb(46, 152, 14);
	color: black;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}
tbody tr:nth-child(even) {
  background-color: #eee;
}
.message-content{
  display: flex;
  flex-direction: column;
}
.message-content > p{
  text-decoration: underline;
}
.message-content > a{
  text-transform: uppercase;
  margin: 1rem auto;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: rgb(46, 152, 14);
  align-self: center;
}
th,td{
  font-size: 0.7rem;
}
.restaurant-section{
  margin: 0 auto;
}
.rest-container{
  width: 70vw;
  max-width: 800px;
  margin: 3rem auto 0;
}
.restaurant-item{
  display: flex;
  gap: 0.6rem;
  margin: 0 0 0.7rem;
}
.restaurant-item > p{
  font-size: small;
  margin: 0;
}
.restaurant-item > a{
  text-decoration: none;
  color: black;
  font-size: small;
}
.restaurant-icon{
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.restaurant-card{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}
.restaurant-card > div{
  padding: 0 1rem 1rem;
}

.restaurant-card > img{
  object-fit: cover;
  width: 100%;
  max-height: 21rem;
}
.not-found-container{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-img{
  width: 12rem;
}
.not-found-text{
  font-size: 0.7rem;
  max-width: 12rem;
  font-weight: 500;
  text-align: center;
  color: var(--clr-grey-1);
  margin: 0;
}

.footer{
  background-color: var(--clr-green-7);
  padding: 2rem;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}
.footer-info{  
  display: grid;
  grid-template-columns: 100%;
  
  justify-content: space-between;

  margin: 0 auto 3rem;
  width: 80vw;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer a:hover{
  color: var(--clr-green-3);
}
.footer ul{
  list-style-type: none;
  padding: 0;
}
.footer-title{
  font-size: large;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.footer-icon{
  font-size: 1.5rem;
  margin: 0.3rem;
}
.footer-links li{
  font-size: large;
  margin-bottom: 0.3rem;
}
.underline{
  background-color: black;
  height: 1px;
  width: 85vw;
  margin: 0 auto;
}
.copyright-container{
  justify-self: flex-end;
}
.copyright > div{
  font-size: small;
  text-align: center;
}
.blue:hover{
  color: var(--icon-blue);
  cursor: pointer;
}
.red:hover{
  color: var(--icon-red-2);
  cursor: pointer;
}
.grey:hover{
  color: var(--icon-grey1);
  cursor: pointer;
}

@media screen and (min-width: 350px) {
  .recipe-container > h3{
    font-size:1.5rem;
  }
  .review-card, .review-cards{
    height: 250px;
  }
  th,td{
    font-size: 0.95rem;
  }
  .message-content > p{
    font-size: 1.1rem;
  }
  .intro-section > h4{
    font-size: 1.3rem;
  }
  .featured-info > h2{
    font-size: 0.8rem;
  }
  .featured-info > p{
    font-size: 0.45rem;
  }
  .not-found-img{
    width: 15rem;
  }
  .not-found-text{
    font-size: 0.9rem;
    max-width: 15rem;
  }
}

@media screen and (min-width: 506px) {
  .nav-btn{
    display: none;
  }
  .header-links{
    display: flex;
    text-decoration: none;
    list-style: none;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 5rem;
    width: 85vw;
    max-width: 1550px;
  }
  .recipe-container{
    height: 22rem;
    width: 28rem;
  }
  .recipe-btns{
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
  }
  .recipe-ingredient-btn, .recipe-instruction-btn{
    height: 2.3rem;
  }
  .profile-pic{
    width: 4rem;
    height: 4rem;
  }
  .review-title{
    font-size: 1.1rem;
  }
  .review-desc{
    font-size: 16px;
  }
  .review-recipe-title{
    font-size: 0.83rem;
  }
  .restaurant-section{
    width: 85vw;
    max-width: 1080px;
  }
  .main > h3{
    font-size: 1.6rem;
  }
  .featured-info{
    padding-right: 1rem;
  }
  .featured-icon{
    display: block;
  }
  .featured-card > a{
    margin-left: 1rem;
  }
  .footer-info{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 670px) {
  .recipes{
    grid-template-columns: 1fr 1fr;
  }
  .recipe-container{
    height: 26rem;
    width: 18rem;
  }
  .recipe-btns{
    flex-direction: column;
    width: 100%; 
  }
  .placeholder-img{
    width: 80vw;
    max-width: 700px;

    align-self: center;
  }
  .link-btn{
    font-size: 1.1rem;
    padding: 0 1.7rem 1rem;
  }
  .submenu a{
    font-size: 1rem;
  }

  .restaurant-card > div > h4{
    font-size: 1.2rem;
  }
  .restaurant-item > p , .restaurant-item > a{
    font-size: medium;
  }
  .intro-section > h4{
    font-size: 1.7rem;
  }
  .reviews{
    max-width: 800px;
  }
  .review-card, .review-cards{
    height: 350px;
  }
  .review-cards{
    max-width: 700px;
  }
  .review-card{
    padding: 2rem;
    gap: 1.5rem;
  }
  .review-top{
    scale: 1.05;
  }
  .featured-card{
    height: 350px;
  }
  .featured-card{
    max-width: 550px;
  }
  .featured-info > h2{
    font-size: 1.3rem;
  }
  .featured-info > p{
    font-size: 0.7rem;
  }
  .featured-icon{
    font-size: 3rem;
  }
  .next{ right: -0.1rem; }

  .copyright > div{
    font-size: large;
  }
  .footer-links li{
    font-size: larger;
  }
  .not-found-img{
    width: 22rem;
  }
  .not-found-text{
    font-size: 1.1rem;
    max-width: 19rem;
  }
}

@media screen and (min-width: 1050px) {
  .recipes{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main > h3{
    font-size: 2rem;
  }
  .featured-card{
    max-width: 800px;
    height: 450px;
  }
  .featured-box{
    padding-left: 5rem;
  }
  .featured-info > h2{
    font-size: 1.5rem;
  }
  .featured-info > p{
    font-size: 0.9rem;
  }
  .footer-info{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .follow-us > ul{
    display: flex;
    gap: 0.6rem;
  }
  .footer-title{
    min-width: 96px;
  }
  .footer-links li{
    font-size: 1.3rem;
  }
  .intro-section{
    margin: 5rem auto 21rem;
  }
  .intro-section > h4{
    position: absolute;
  top: 300px;
  left: 400px;
  }
  .intro-img{
    display: block;
  }
  .not-found-img{
    width: 30rem;
  }
}

@media screen and (min-width: 1400px) {
  .intro-side-img{
    display: block;
  }
  .left-side{
    left: -700px;
  }
  .right-side{
    right: 0;
    width: 107px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1950px) {
  .intro-side-img{
    display: block;
  }
  .left-side{
    left: -620px;
  }
  .right-side{
    right: 0;
    width: 177px;
    object-fit: cover;
  }
}